@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap');
body{
    font-family: 'Montserrat Alternates', sans-serif!important;
    background-color: rgb(21, 23, 57);
    color: #fff;
}
