<div class="row">
    <div *ngFor="let item of movie" class="col-md-2">
        <a href="" class="text-decoration-none text-white">
            <div class="item position-relative">
                <img class="w-100" [src]="imgSrc + item.poster_path" alt="">

                <h2>{{item.title}}</h2>

                <div class="vote position-absolute top-0">
                    <p class="bg-info p-1">{{item.vote_average}}</p>
                </div>
            </div>
        </a>
    </div>
</div>

