<form [formGroup]="registerForm" class="text-white" (ngSubmit)="submitData(registerForm)">
    <div *ngIf="errorMessage" class="alert alert-danger">
        {{errorMessage}}
    </div>
    <label for="first_name">First Name</label>
    <input formControlName="first_name" class="form-control" id="first_name">
    <div *ngIf="registerForm.get('first_name')?.errors && registerForm.get('first_name')?.touched"
        class="alert alert-danger my-2">
        <p *ngIf="registerForm.get('first_name')?.errors?.['required']">first name is required</p>
        <p *ngIf="registerForm.get('first_name')?.errors?.['minlength']">first name is minlength 3</p>
        <p *ngIf="registerForm.get('first_name')?.errors?.['maxlength']">first name is maxlength 10</p>
    </div>

    <label for="last_name">Last Name</label>
    <input formControlName="last_name" class="form-control" id="last_name">
    <div *ngIf="registerForm.get('last_name')?.errors && registerForm.get('last_name')?.touched"
        class="alert alert-danger my-2">
        <p *ngIf="registerForm.get('last_name')?.errors?.['required']">Last Name is required</p>
        <p *ngIf="registerForm.get('last_name')?.errors?.['minlength']">Last Name is minlength 3</p>
        <p *ngIf="registerForm.get('last_name')?.errors?.['maxlength']">Last Name is maxlength 10</p>
    </div>

    <label for="email">Email</label>
    <input formControlName="email" class="form-control" id="email">
    <div *ngIf="registerForm.get('email')?.errors && registerForm.get('email')?.touched"
        class="alert alert-danger my-2">
        <p *ngIf="registerForm.get('email')?.errors?.['required']">Email is required</p>
        <p *ngIf="registerForm.get('email')?.errors?.['email']">Email is Invalid </p>
    </div>

    <label for="password">Password</label>
    <input formControlName="password" class="form-control" id="password">
    <div *ngIf="registerForm.get('password')?.errors && registerForm.get('password')?.touched"
        class="alert alert-danger my-2">
        <p *ngIf="registerForm.get('password')?.errors?.['required']">Password is required</p>
        <p
            *ngIf="registerForm.get('password')?.errors?.['minLength'] && registerForm.get('password')?.errors?.['maxlength']">
            Password is minlength 3 and max 10</p>
        <p *ngIf="registerForm.get('password')?.errors?.['pattern']">Password must contain A,a@</p>
    </div>

    <label for="age">Age</label>
    <input formControlName="age" class="form-control" id="age">
    <div *ngIf="registerForm.get('age')?.errors && registerForm.get('age')?.touched" class="alert alert-danger my-2">
        <p *ngIf="registerForm.get('age')?.errors?.['required']">Age is required</p>
        <p *ngIf="registerForm.get('age')?.errors?.['min']">Age is min 16</p>
        <p *ngIf="registerForm.get('age')?.errors?.['max']">Age is max 60</p>
    </div>
    <button [disabled]="registerForm.invalid" type="submit" class="btn btn-info">Register</button>
</form>